.code-block-viewer {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 90%;
    padding: 10px;
    margin: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f3f3f3;
    overflow-x: auto; /* Ensure horizontal scrolling if content is too wide */
    cursor: pointer;
  }
  
  @media (max-width: 1024px) {
    .code-block-viewer {
      padding: 8px;
      margin: 8px;
    }
  }
  
  @media (max-width: 768px) {
    .code-block-viewer {
      padding: 6px;
      margin: 6px;
    }
  }
  
  @media (max-width: 480px) {
    .code-block-viewer {
      padding: 4px;
      margin: 4px;
    }
  }  